body{
    height:125vh;
}

.post_error{
    position: absolute;
    top:30%;
    left:50%;
    transform: translate(-50%,-50%);
    padding-top: 5%;
    font-size: 32px;
    text-align: center;
}

.post_error button{
    background-color: #0f0f0f;
    color: #f0f0f0;
    height:3vh;
    width:30%;
    margin-top: 4%;
}
.post_error a{
    font-size: 15px;
}
.has_title{
    
    width:35vw;
    height: auto;
}

.title_box{
    position: relative;
}

.watchlist_btn{
    position: absolute;
    bottom:-60%;
    right:1%;
    width:4.3vw;
    height:36px;
    background-color: #e4e4e4;
    border: 1px solid #ccc;
    border-radius: 10px;
    color:#3d3c3c;
    box-shadow: 1px 1px 1px #636060;
    margin-top: 5%;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    transition: .3s all ease-in-out;
    display: flex;
    flex-direction: row;
    vertical-align: center;
    gap:3.5%;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

.watchlist_btn:hover{
    opacity: .95;
    color:#0f0f0f;
}

.blog_banner{
    width:35vw;
    aspect-ratio: 4 / 2;
    object-fit: cover;
}

.author_box{
    width:22%;
    align-items: center;
    margin-bottom: 9%;
    border-top: 1px solid #302f2f8a;
    padding-top: 2%;
    color:#1d1d1d;
    font-size: 14.5px;
}

.path_display{
    margin-bottom: 0%;
    font-size: 17px;
    letter-spacing: .1em;
}

.path_display a:visited{
    color:rgba(0, 0, 0, 0.884);
    text-decoration: underline;
}

.path_display a{
    text-decoration: underline;

}
.path_display span{
    color: #000000;
    text-decoration: underline;
}

.blog_title{
    font-size: 32px;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    font-weight: 600;
    font-family:sans-serif;
}

.sinopse{
    width:35vw;
    font-size: 17.5px;
    line-height: 1.3;
}

.img_banner{
    position: relative;
    margin-bottom: 6%;
}

figcaption{
    color:#646363;
    margin-top: 1.3%;
}
.star{
    position: absolute;
    top:17%;
    left:3%;
    background-color: #0f0f0f;
    color:#eeeeee;
    font-weight: 600;
    padding: 3% 2%;
    border-radius: 0 0 10px 10px;
    box-shadow: 1px 1px 1px #000;
}

.input_blog{
    display: flex;
    flex-direction: column;
    gap:2%;
    margin: 3% auto;
    margin-left:0%;
    
}

.box{
    display: flex;
    flex-direction: row;
    justify-content: center ;
    gap: 5%;
}

.subscribe{
    margin-top: 10%;
    height:19vh;
    width:270px;
    background-color: #1f1e1ef5;
    color:#e7e7e7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}

.subscribe h4{
    font-size: 18px;
    margin-bottom: 5%;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.04em;
}

.subscribe span{
    font-weight: 600;
    color:#fcfdff;
}
.subscribe input{
    width:130%;
    height: 35px;
    padding: 3%;
    margin-bottom: 4%;
}

.email_btn{
    background-color: #4faaff;
    border:none;
    color:#ffffff;
    text-transform: uppercase;
    font-weight: 600 !important;
    box-shadow: 1px 1px 1px #7ca7ff;
    font-size: 14.5px;
}

@media screen and (max-width:600px) {
    .has_title{
        left: 35% !important;
        width:62.4%;
    }

    .blog_banner{
        aspect-ratio: 4 / 2.5;
    }  

    .blog_banner, .sinopse{
        width:90vw;
    }
}
@media screen and (min-width:600px) and (max-width:1500px) {
    .has_title{
        left: 36% !important;
    }
    .blog_banner, .sinopse{
        width:55vw;
    }  
}